In [34]:
from mysql.connector import connect
from random import randint,choice,sample

In [31]:
mydb=connect(
            host="localhost",
            user="root",
            password="",
            database="ecobike"
        )

In [32]:
cursor=mydb.cursor()

In [ ]:
sql_query="INSERT INTO xe(maXe,bienSoXe,loaiXe,luongPin,giaTriXe,hangXe) VALUES ('[value-1]','[value-2]','[value-3]','[value-4]','[value-5]','[value-6]')"

In [ ]:
cursor.execute(sql_query)
mydb.commit()

In [4]:
a=5
b='S'
c=152
print(f"{a:0>2d}{b}-{c:0>5d}")

05S-00152

In [12]:
def randomBienSoXe():
    a=randint(0,99)
    b=chr(randint(ord('A'),ord('Z')))
    c=randint(0,99999)
    return f"{a:0>2d}{b}-{c:0>5d}"

In [25]:
st=set()
while len(st)<200:
    st.add(randomBienSoXe())

In [26]:
dsbienSoXe=list(st)

In [28]:
dsloai=['xe đạp đơn','xe đạp đôi','xe đạp điện đơn','xe đạp điện đôi']
giaXe=[1000000,1200000,1500000,2000000]
HANGXe=['Meride','Trek','Specialized','Cannondale','Kona','Scott','Santa Cruz','Marin','GT','Giant','Romance']
HANGXEDIEN=['Asama','BMX','Bridgestone','Giant','Yamaha','HKbike','Hyundai','Nijia','Honda']

In [33]:
for i in range(200):
    maxe=20230006+i
    bienSoXe=dsbienSoXe[i]
    j=randint(0,3)
    loaixe=dsloai[j]
    if j<2:
        luongpin=0
        hangxe=choice(HANGXe)
    else:
        luongpin=randint(60,100)
        hangxe=choice(HANGXEDIEN)
    giatrixe=giaXe[j]
    sql_query=f"INSERT INTO xe(maXe, bienSoXe, loaiXe, luongPin, giaTriXe, hangXe) VALUES ({maxe},'{bienSoXe}','{loaixe}',{luongpin},{giatrixe},'{hangxe}')"
    cursor.execute(sql_query)
    mydb.commit()

In [ ]:
dsmaXe=sample([i for i in])

In [36]:
ten=set("Nguyễn Văn Tâm, Phạm Văn Hiệp, Nguyễn Văn Hậu, Lê Văn Phước, Trần Văn Sơn, Trần Văn Hoàng, Nguyễn Văn Phúc, Nguyễn Văn Thành, Trần Văn Hưng, Lê Văn Trọng, Trần Thị Thanh, Nguyễn Thị Thảo, Phạm Thị Minh, Lê Thị Hoài, Lê Thị Thu, Nguyễn Thị Ngọc, Trần Thị Hồng, Nguyễn Thị Miêu, Phạm Thị Thuý, Trần Thị Huyền, Nguyễn Văn Tài, Nguyễn Thị Phương, Nguyễn Thị Thu, Trần Thị Thuỳ, Nguyễn Hồng Nhung, Nguyễn Văn Nhật, Trần Thị Phương Anh, Nguyễn Văn Tú, Trần Hoàng Thịnh, Nguyễn Văn Phú, Nguyễn Vũ Thịnh, Nguyễn Thị Mỹ, Nguyễn Thị Thu Hiền, Lê Thị Phương, Nguyễn Thị Hằng, Phạm Văn Lâm, Trần Thị Ngọc Hạnh, Trần Thị Thanh Bình, Trần Văn Hải, Trần Văn Lực, Nguyễn Thị Ngọc Trang, Lê Thị Tuyết, Trần Văn Bảo, Nguyễn Vũ Thịnh, Trần Thị Phương Thảo, Trần Thị Nhung, Lê Thị Thu Hà, Nguyễn Văn Lộc, Nguyễn Văn Trọng, Phạm Văn Tuấn, Trần Thị Thanh, Nguyễn Thị Tuyết, Trần Văn Cường, Nguyễn Văn Thắng, Nguyễn Thị Kim Anh, Trần Văn Phong, Nguyễn Văn Tiến, Nguyễn Văn Hiền, Nguyễn Thị Ngọc Anh, Trần Thị Phương Thảo, Nguyễn Thị Thu Thảo, Trần Văn Quang, Nguyễn Thị Phượng, Trần Văn Thạch, Trần Thị Thu, Trần Văn Bằng, Nguyễn Văn Hải, Nguyễn Văn Hùng, Trần Văn Đức, Nguyễn Văn Dũng, Nguyễn Văn Hậu, Nguyễn Thị Huyền, Nguyễn Văn Hải, Nguyễn Thị Hương, Trần Văn Đạt, Trần Văn Đức, Lê Thị Hồng, Trần Hoàng Thịnh, Lê Văn Thịnh, Nguyễn Văn Tường, Phạm Thị Thu Hà, Trần Thị Nhàn, Nguyễn Văn Thông, Nguyễn Văn Thịnh, Trần Văn Phúc, Lê Văn Thuận, Trần Văn Nghĩa".split(", "))

In [38]:
len(ten)

80

In [39]:
a="""Huỳnh Hữu Tấn
Trần Tuấn Khải
Nguyễn Văn Sơn
Vũ Tấn Phát
Đinh Hồng Quân
Lê Hoàng Thịnh
Ngô Đình Phong
Phan Quốc Thịnh
Nguyễn Thị Diệu
Võ Thị Lầm
Bùi Minh Hải
Đỗ Quang Huy
Nguyễn Quang Nhật
Lê Đình Minh
Đỗ Thị Ngân
Trần Đình Phong
Trần Văn Nhật
Lý Trần Tuấn
Đoàn Phạm Anh
Lữ Toàn Quân
Nguyễn Thị Hồng
Phạm Thu Hiền
Nguyễn Thị Thanh
Lê Thị Minh
Trần Thị Thanh
Cao Thị Nga
Hoàng Thị Tuyết
Trần Thị Hồng
Nguyễn Thị Hoàng
Nguyễn Thị Quyên
Hoàng Thị Nhàn
Trần Thị Tuyết
Nguyễn Thị Tuyết
Ngô Thị Thùy
Nguyễn Thị Hạnh
Hồ Thị Thu
Trần Thị Kỳ
Trần Thị Ngọc
Lê Thị Hồng
Nguyễn Thị Thu
"""

In [41]:
for _ in a.splitlines():
    ten.add(_)

In [44]:
ten=list(ten)
maXe=sample([i+20230006 for i in range(200)],len(ten))

In [47]:
maThe=sample(range(10**11,10**12),len(ten))

In [49]:
for x,y,z in zip(maXe,maThe,ten):
    time=f'2023-02-{randint(1,20)} {randint(0,23)}:{randint(0,59)}:00'    
    sql_query=f"INSERT INTO xe_dang_duoc_thue(maXe, maThe, nguoiThueXe, phuongThucThueXe, thoiDiemThue, noiThueXe) VALUES ('{x}','{y}','{z}',{randint(0,1)},'{time}',{randint(1,4)})"
    cursor.execute(sql_query)
    mydb.commit()